
body{
  font-family: Montserrat-Black;
}

#title {
  background-color: #E8F6EF;
  color: grey;
}

#About {
  background-color: #CDF0EA;
  padding: 2% 15%;
  position:relative;
  z-index: 1;
}

/* #meet-team {
  background-color: #CDF0EA;
  padding: 2% 15%;
} */

#sponsors {
  background-color: #78DEC7;
  text-align: center;
  padding-top: 10px;
}

#footer {
  background-color: #78DEC7;
  text-align: center;
  padding: 25px 0 5px
}

h1{
  font-family: "Montserrat-Black";
  size : 3rem;
  line-height: 1.5;
}

hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  margin: 75px auto;
  width: 8%;
}

h3{
font-family: 'Montserrat-Bold', sans-serif;
font-size: 30px;
color: #11999E;

}

p{
  color: grey;
}

.container-fluid{
  padding: 3% 17% 3%;

}

/* navigation bar */

.navbar{
  padding-bottom: 4rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
}

.nav-item{
  padding: 0 3px;
}

.nav-link{
  font-size: 1rem;
  font-family: "Montserrat-light";
}

/* Sign Bottons */
.addon-button{
  margin: 5% 8% 5% 0;
}

/* title image */
.title-img{
  height: 120%;
  width: 90%;
  transform: rotate(20deg);
  margin: 0 0 0 10%;
  z-index: 0;
}

/* meet our team section */
.team{
  width: 75%;
  margin: 10% 15%;
}

.team-button{
  margin: 0 35%;
}

/* website description */
.web-desc{
  text-align: center;
}

.desc {
  width: 850px;
  margin:50px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}
.purp {
    width: 850px;
    margin:50px auto 100px auto;
    text-align: right;
    line-height: 1.5
  }

  .audi {
    width: 850px;
    margin:50px auto;
    text-align: left;
    line-height: 1.5;
  }

/* website description images */
.desc-img{
  width: 15%;
  float: left;
  margin-right: 30px;
}
.purpose-img{
  width: 15%;
  float: right;
  margin-left:30px;
}

.audience-img{
  width: 15%;
  float: left;
  margin-right: 30px;
}


.title-team{
  text-align: center;
}

/* our HBCU LOGOSS and home pages + corousels */
.hbcu-logos{
  width: 15%;
  margin: 20px 80px;
}

.social-icons{
  margin: 10px;
  color: white;
}

.copyright{
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 5px 0;
}


/* Considereing Mobile users */
@media screen and (max-width: 1016px) {
  .title-img {
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
}
